.history
**/.DS_Store
**/node_modules
**/*.log
**/explorations
**/TODOs.md
**/test/e2e/reports
**/test/e2e/screenshots
**/coverage
**/RELEASE_NOTE*.md
**/packages/vue-server-renderer/basic.js
**/packages/vue-server-renderer/build.js
**/packages/vue-server-renderer/server-plugin.js
**/packages/vue-server-renderer/client-plugin.js
**/packages/vue-template-compiler/build.js
**/.vscode
**/.history
vue-3.2.26/dist/**
vue-3.2.26/.DS_Store/**
vue-3.2.26/coverage
vue-3.2.26/temp
vue-3.2.26/explorations
vue-3.2.26/TODOs.md
vue-3.2.26/*.log
vue-3.2.26/.idea